{% csrf_token %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Dashboard</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/static/admin/vendors/feather/feather.css">
  <link rel="stylesheet" href="/static/admin/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/static/admin/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/static/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="/static/admin/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="/static/admin/js/select.dataTables.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/static/admin/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/static/admin/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
       
       
        <a href="#" style="color:#4B49AC;font-weight: bold">Admin</a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/admin_index/">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin_master/">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Admin Master</span>
            </a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="/add_vendor/">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Add PG</span>
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/payment_details/">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Payment Details</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/admin_contact/">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Contact Details</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin_login/">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">LogOut</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">EASY TO FIND PG`S</h3>
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            
            <div class="col-12 grid-margin transparent">
              <div class="row">
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-tale">
                    <div class="card-body">
                      <p class="mb-4">TOTAL PG</p>
                      <p class="fs-30 mb-2">{{countPG}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-dark-blue">
                    <div class="card-body">
                      <p class="mb-4">TOTAL PG OWNERS</p>
                      <p class="fs-30 mb-2">{{countVendors}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                  <div class="card card-light-blue">
                    <div class="card-body">
                      <p class="mb-4">TOTAL BOOKINGS</p>
                      <p class="fs-30 mb-2">{{countOrder}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 stretch-card transparent">
                  <div class="card card-light-danger">
                    <div class="card-body">
                      <p class="mb-4">TOTAL PAYMENT</p>
                      <p class="fs-30 mb-2">{{countOrderAmt}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block"></span>
          </div>

        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="/static/admin/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="/static/admin/vendors/chart.js/Chart.min.js"></script>
  <script src="/static/admin/vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="/static/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <script src="/static/admin/js/dataTables.select.min.js"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/static/admin/js/off-canvas.js"></script>
  <script src="/static/admin/js/hoverable-collapse.js"></script>
  <script src="/static/admin/js/template.js"></script>
  <script src="/static/admin/js/settings.js"></script>
  <script src="/static/admin/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/static/admin/js/dashboard.js"></script>
  <script src="/static/admin/js/Chart.roundedBarCharts.js"></script>
  <!-- End custom js for this page-->
</body>

</html>